# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd

### Step 3. Assign it to a variable called chipo.

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [50]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
chipo = pd.read_csv(url, sep="\t")

### Step 4. See the first 10 entries

In [6]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 5. What is the number of observations in the dataset?

In [8]:
# Solution 1
chipo.shape

(4622, 5)

In [ ]:
# Solution 2

### Step 6. What is the number of columns in the dataset?

In [11]:
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [12]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [13]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [15]:
top_item = chipo.groupby('item_name')['quantity'].sum().idxmax()
print("Most ordered item:", top_item)

Most ordered item: Chicken Bowl

### Step 10. For the most-ordered item, how many items were ordered?

In [16]:
top_qty = chipo.groupby('item_name')['quantity'].sum().max()
print("Quantity ordered:", top_qty)

Quantity ordered: 761

### Step 11. What was the most ordered item in the choice_description column?

In [19]:
top_choice = chipo.groupby('choice_description')['quantity'].sum().idxmax()
print("Most ordered item:", top_choice)

top_qty_choice = chipo.groupby('choice_description')['quantity'].sum().max()
print("Quantity ordered:", top_qty_choice)

Most ordered item: [Diet Coke]
Quantity ordered: 159

### Step 12. How many items were orderd in total?

In [20]:
top_qty+top_qty_choice

920

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [49]:
chipo['item_price'].dtype   #object

float64
0     2.39
1     3.39
2     3.39
3     2.39
4    16.98
Name: item_price, dtype: float64

#### Step 13.b. Create a lambda function and change the type of item price

In [51]:
chipo['item_price'] = chipo['item_price'].apply(lambda x: float(str(x).replace('$', '').strip()))

print(chipo['item_price'].head())

0     2.39
1     3.39
2     3.39
3     2.39
4    16.98
Name: item_price, dtype: float64

#### Step 13.c. Check the item price type

In [52]:
print(chipo['item_price'].dtype)

float64

### Step 14. How much was the revenue for the period in the dataset?

In [59]:
chipo['revenue'] =chipo['quantity']*chipo['item_price']
total_income = chipo['revenue'].sum()

print("Total income:", total_income)

Total income: 39237.02

### Step 15. How many orders were made in the period?

In [60]:
total_orders = chipo['quantity'].sum()
print("Total orders:", total_orders)

Total orders: 4972

### Step 16. What is the average revenue amount per order?

In [62]:
# Solution 1

print(total_income/total_orders)

7.8915969428801285

In [ ]:
# Solution 2

### Step 17. How many different items are sold?

In [66]:
num_items = chipo['item_name'].nunique()

print("Number of different items:", num_items)

Number of different items: 50